<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-5">
        <img alt="NOCO SAR/ESS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
      </div>
      <div class="col-md-7">
        <div class="row">
          <p class="lead">
            Assisting Public Servie Agencies in the Northern Colorado Area
          </p>
        </div>
        <div class="row">
          <p>
            <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Donate Now</a>
          </p>
        </div>
      </div>
    </div>

<!--     <div class="row">
      <div class="col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="NOCO SAR/ESS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Assisting Public Servie Agencies in the Northern Colorado Area
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Donate Now</a>
      </p>
    </div> -->
  </div>

</section>
